<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Tutorial of Develop</title>
<link rel="stylesheet" th:href="@{/css/employee/detail.css}">
</head>
<body>
    <h1>employee情報管理システム</h1>
    <h2>employee詳細ページ</h2>
        <table th:object=${employeedetail}>
            <tr>
                <td>社員番号</td>
                <td th:text="*{authentication.code}"></td>
            </tr>

            <tr>
                <td>氏名</td>
                <td th:text="*{name}"></td>
            </tr>
            <tr>
                <td>権限</td>
                <td th:text="*{authentication.role}"></td>
            <tr>
                <td>登録日時</td>
                <td th:text="*{createdAt}"></td>
            </tr>
            <tr>
                <td>更新日時</td>
                <td th:text="*{updatedAt}"></td>
            </tr>
        </table>
    <a th:href="@{/employee/update/{aid}(aid=${employeedetail.id})}">この従業員情報を編集する</a>
    <a th:href="@{/employee/list}">一覧にもどる</a>
</body>
</html>